version: "{build}"

clone_folder: c:\gopath\src\github.com\golang\dep

environment:
  GOPATH: c:\gopath
  DEPTESTBYPASS501: 1
  APPVEYOR_RDP_PASSWORD: test1234

on_finish:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

# environment:
#   global:
#     STACK_ROOT: "c:\\sr"

cache:
  - c:\gopath -> go.mod
  - node_modules

# scripts that run after cloning repository
install:
  - cinst mingw
  - set PATH=%GOPATH%\bin;c:\go\bin;C:\tools\mingw64\bin;%PATH%
  - gcc -v
  - go version
  - go env
  - go get -u golang.org/x/vgo
  - go get -u -u github.com/jteeuwen/go-bindata/...
  - vgo list -m
  - npm install -g yarn
  - yarn install

build_script:
  - yarn version:windows:amd64
  - ls

artifacts:
  - path: dist/*
    name: Build

# to disable automatic tests
test: off

# to disable deployment
deploy: off