*, *::after, *::before {
  box-sizing: inherit;
  font-family: "PT Sans", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html, #app {
	/* min-height: 100%; */
}

body {
	padding: .5em;
	font-size: 3em;
	background-color: #e91e63;
	color: #ffffff;
}

body {
  font-size: 3em;
  padding-top: 0;
}

.debug {
  font-size: 0.5em;
}

.parent {
  display: flex;
  justify-content: space-between;
/*   flex-direction: column; */
/*   height: 100%; */
}

.pids h1 {
  font-size: .75em;
  margin: 0;
  padding: 0;
}

.pid2 {
  display: flex;
  align-items: center;
/*   padding: .4em; */

  font-size: 0.75em;
}

.pid {
  display: flex;
  flex-direction: column;
}

.value {
	margin: .25em 0 0 .25em;
}

.pids button {
	font-size: 1em;
  margin: .25em;
}

.flash {
  float: right;
  padding: 5px;
  background-color: tomato;
  margin: 10px;
  font-size: .5em;
  color: white;
  font-weight: bold;
}

.banner, button {
  background-color: tomato;
  padding: 5px;
  margin: 10px;
  font-size: .5em;
  color: white;
  font-weight: bold;
  text-align: center;
}

.serial-ports {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.serial-port {
  background-color: tomato;
  padding: 5px;
  /* width: 20px; */
  /* height: 20px; */
  margin: 10px;
  font-size: 1em;
  /* line-height: 20px; */
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}